
body {
    background-image: url("fondo.png");
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
h1 {
    font-size: 350%;
    color: rgb(226, 24, 24);
    margin-top: 5%;
    background-color: rgba(255, 156, 98, 0.247);
}
h2 {
    font-size: 200%;
    color: rgb(255, 121, 32);
}
h3 {
    font-size: 200%;
    color: rgb(139, 10, 10);
}
img.btn {
    width: 50px;
    height: 50px;
    margin: 2%;
    border-radius: 50%;
}
img.btn:hover,img.logo:hover {
    transform: translateY(-10%);
}
.me {
    background: url(IMG_20220625_223612.jpg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: right;
    margin-top: -880px;
    margin-right: -65px;
}
img.logo {
    width: 150px;
    padding-right: 130px;
    float: right;
}
p {
    margin-right: 30%;
    font-size: 120%;
}
a, p, ul {
    color: rgb(240, 232, 130);
}
ul {
    font-size: 140%;
}
li:hover {
    color: rgb(250, 143, 72);
}
#jap, #esi {
    text-decoration: none;
}
#jap:hover {
    color: rgb(255, 121, 32);
    text-decoration: underline;
}
#esi:hover {
    color: rgb(226, 24, 24);
    text-decoration: underline;
}




